@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

body{
  position: relative;
  color: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.btn{
  background: white;
}
.dark-mode {
  background-color: black;
  color: white;
}

.container{
  height: auto;
  top: 48vh;
  width: 100%;
  position: fixed;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  color: yellow;
  padding-left: 8vw;
  letter-spacing: 3vw;
}


.lens{
  height: 9vh;
  width: 10vw;
  border-right: 8px solid rgb(248, 49, 125);
  border-top: 8px solid rgb(4, 34, 37);
  border-bottom: 8px solid rgb(32, 39, 43);
  position: fixed;
  top: 42vh;
  color: rgb(0, 119, 255);
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  padding-top: 5vh;
  text-align: center;
}

.love,.peace,.code{
  position: fixed;
  background: url(lpc.png);
  background-repeat: repeat;
  background-size: 100vh;
  width: 500%;
  height: 500%;
  top: 0;
  left: 0;
}
.love{
  opacity: 0.5;
}

.peace{
  opacity: 0.8;
}

#btn{
  background-color: rgb(0, 0, 0);
  height: 5vh;
  width: 5vh;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

#btn2{
  background-color: rgb(7, 212, 0);
  height: 5vh;
  width: auto;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}